@import '../../style/definitions';
@import 'list-item';

:root .Card .done {
  width: 48px;
  height: 48px;
  color: $green-500;
}

.count {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  margin: 8px;
  margin-right: 12px;
  width: 48px;
  height: 48px;

  color: white;
  background-color: $red-500;
  border-radius: 50%;
  font-size: 24px;
}

.warning {
  color: $input-text-error-color;
}
